doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="#{metaAuthor}")
    meta(name="description" content="#{metaDescription}")
    meta(name="keywords" content="#{metaKeywords}")
    title= title
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    link(link href="https://fonts.googleapis.com/css?family=Lato:100,300,400|Open+Sans:300,400|Oswald:200,300,400|Roboto:100,300,400|Vollkorn" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/slick-1.8.0/slick.css')
    link(rel='stylesheet' href='/stylesheets/slick-1.8.0/slick-theme.css')
    link(rel='stylesheet' href='/stylesheets/animate-css/animate.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    

    header
      div#top
      include inc/header-content.jade
      include inc/hero-image.jade
    main.container
      section.content
        include ./inc/widgets/player
        include ./inc/sections/licensing-info
        include ./inc/widgets/faq
        include ./inc/widgets/newsletter
        include ./inc/widgets/twitter-feed
    include ./inc/sections/parallax.jade
    include ./inc/widgets/contact-form.jade
    footer
      include inc/footer-content.jade
    script(src="js/slick-1.8.0/slick.min.js")
    script(src="js/gsap/TweenMax.min.js")
    script(src="js/gsap/plugins/scrollToPlugin.min.js")
    script(src="js/Scroll-Magic/ScrollMagic.min.js")
    script(src="js/Scroll-Magic/plugins/animation.gsap.js")
    script(src="js/Scroll-Magic/plugins/debug.addIndicators.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="js/functions.js")
    script(src="js/main-carousel.js")
