doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="#{metaAuthor}")
    meta(name="description" content="#{metaDescription}")
    meta(name="keywords" content="#{metaKeywords}")
    title= title
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/lg-screens.css')
    link(rel='stylesheet' href='/stylesheets/md-screens.css')
    link(rel='stylesheet' href='/stylesheets/sm-screens.css')
    link(rel='stylesheet' href='/stylesheets/xs-screens.css')
    
    header
      include inc/header-content.jade
      include inc/navigation.html
    main.container
      section.content
        block content
    footer 
      include inc/footer-content.jade
    script(src="js/functions.js")