- var checkMark = './assets/png/check-mark.png';
section.services-container.py-5
  a#services
  div.fade-in
    h2.text-center Our Auto Services: Brakes, A/C, Fuel Injection, Alignment & More
    p Triple C Automotive was established on January 2017 in Markham by Carlos Felipa who is a Master Mechanic. Carlos Felipa has been in the car repair industry since he was a child and has over a decade of experience. He has worked on every possible car repair job. Carlos has worked in all major car shops like Canadian Tire, Active Green Ross and dealerships in all over the Great Toronto Area. He has replaced engines, rebuilt engines, replaced transmissions of all makes and models, just name the job he has done it.

  div.services-content.row.py-t
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p Preventative Maintenance
            ul.pl-3.d-none.d-sm-block
              li Lube Oil and Filter Service
              li Transmission Flush
              li Coolant Flush
              li Brake Fluid Flush
              li Power Steering Fluid Flush
              li Fuel Injector Flush
              li Differential & Transfer Case Service
              li Spring & Fall Inspections
              li Dealer Recommended
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p Drivability & Engine Lights
            ul.pl-3.d-none.d-sm-block
              li Diagnostic analysis of drivability issues
              li Diagnose check engine & other warning lights
              li Diagnose and repair electrical issues
              li ECU and BCM programming and updating (most vehicles)
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p Engine & Transmission
            ul.pl-3.d-none.d-sm-block
              li Tune ups and intake service
              li Cylinder Head replacement and machining
              li Intake gasket replacement
              li Cylinder head gasket replacement
              li Engine reseals and replacement
              li Transmission repair and replacement
  div.services-content.row.pt-5
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p Brakes
              ul.pl-3.d-none.d-sm-block
                li Brake Suspension
                li Replacement and service of disc brake systems
                li Machining of drums and discs
                li Replacement of calipers, wheel cylinders and flex hoses
                li Brake line replacements and repairs
                li ABS diagnostics, service and repairs
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p Suspension & Steering
            ul.pl-3.d-none.d-sm-block
              li Complete suspension system inspections
              li Computerized Alignment
              li Replacement of Shocks and Struts
              li Replacement of Ball joints
              li Inner and outer Tie rod ends
              li Service and replacement of Wheel bearings
              li Power steering racks and hydraulic system service and repairs
              li Stabilizer link kits, bushings and stabilizer bars
    div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
      div.row
          div.col-3.col-sm-3.col-md-3.col-lg-3
            img.text-center.img-responsive(src=checkMark)
          div.col-9.col-sm-9.col-md-9.col-lg-9
            p A/C, Cooling & Heating
            ul.pl-3.d-none.d-sm-block
              li A/C system charge and leak test
              li Replacement of all A/C components
              li Radiators and Condensers
              li Thermostats and water valves
              li Replacement and inspection of belts and hoses
              li Diagnostic and repairs to electronic components
              li Flush or replacement of heater cores
  div.services-content.row.pt-5
      div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
        div.row
            div.col-3.col-sm-3.col-md-3.col-lg-3
              img.text-center.img-responsive(src=checkMark)
            div.col-9.col-sm-9.col-md-9.col-lg-9
              p Emissions Control
              ul.pl-3.d-none.d-sm-block
                li Emissions testing
                li Emission failure Diagnostic and repair
      div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
        div.row
            div.col-3.col-sm-3.col-md-3.col-lg-3
              img.text-center.img-responsive(src=checkMark)
            div.col-9.col-sm-9.col-md-9.col-lg-9
              p Fuel System
              ul.pl-3.d-none.d-sm-block
                li Fuel line repair and replacement
                li Fuel pump
                li Injector flush and replacement
      div.col-xs-12.col-sm-4.col-md-4.col-lg-4.p-5.fade-in
        div.row
            div.col-3.col-sm-3.col-md-3.col-lg-3
              img.text-center.img-responsive(src=checkMark)
            div.col-9.col-sm-9.col-md-9.col-lg-9
              p Starting & Charging
              ul.pl-3.d-none.d-sm-block
                li AVR Tests with printouts
                li Battery replacements
                li Alternators & Starters
