- var checkMark = './assets/png/check-mark.png';
section.services-container.py-5
  a#services
  div
    h2.text-center Our Auto Services: Brakes, A/C, Fuel Injection, Alignment & More
    p Triple C Automotive was established on January 2017 in Markham by Carlos Felipa who is a Master Mechanic. Carlos Felipa has been in the car repair industry since he was a child and has over a decade of experience. He has worked on every possible car repair job. Carlos has worked in all major car shops like Canadian Tire, Active Green Ross and dealerships in all over the Great Toronto Area. He has replaced engines, rebuilt engines, replaced transmissions of all makes and models, just name the job he has done it.
    div.services-content.row
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img.text-center.img-responsive(src=checkMark).bounce
          div.col-lg-10
            h4 Preventative Maintenance
            ul
              li Lube Oil and Filter Service
              li Transmission Flush
              li Coolant Flush
              li Brake Fluid Flush
              li Power Steering Fluid Flush
              li Fuel Injector Flush
              li Differential & Transfer Case Service
              li Spring & Fall Inspections
              li Dealer Recommended
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
              img(src=checkMark)
          div.col-lg-10
            h4 Drivability & Engine Lights
            ul
              li Diagnostic analysis of drivability issues
              li Diagnose check engine & other warning lights
              li Diagnose and repair electrical issues
              li ECU and BCM programming and updating (most vehicles)
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Engine & Transmission
            ul
              li Tune ups and intake service
              li Cylinder Head replacement and machining
              li Intake gasket replacement
              li Cylinder head gasket replacement
              li Engine reseals and replacement
              li Transmission repair and replacement
              li Diesel engine repair
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Brakes
            ul
              li Brake Suspension
              li Replacement and service of disc brake systems
              li Machining of drums and discs
              li Replacement of calipers, wheel cylinders and flex hoses
              li Brake line replacements and repairs
              li ABS diagnostics, service and repairs
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Suspension & Steering
            ul
              li Complete suspension system inspections
              li Computerized Alignment
              li Replacement of Shocks and Struts
              li Replacement of Ball joints
              li Inner and outer Tie rod ends
              li Service and replacement of Wheel bearings
              li Power steering racks and hydraulic system service and repairs
              li Stabilizer link kits, bushings and stabilizer bars
              li Life time warranty parts available
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 A/C, Cooling & Heating
            ul
              li A/C system charge and leak test
              li Replacement of all A/C components
              li Radiators and Condensers
              li Thermostats and water valves
              li Replacement and inspection of belts and hoses
              li Diagnostic and repairs to electronic components
              li Flush or replacement of heater cores
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Emissions Control
            ul
              li Emissions testing
              li Emission failure Diagnostic and repair
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Fuel System
            ul
              li Fuel line repair and replacement
              li Fuel pump
              li Injector flush and replacement
      div.col-lg-4
        div.row.py-5
          div.col-lg-2
            img(src=checkMark)
          div.col-lg-10
            h4 Starting & Charging
            ul
              li AVR Tests with printouts
              li Battery replacements
              li Alternators & Starters
